<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description>JENKINS-34276 verification; run after docker-workflow #1</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node {
    echo 'Start with an empty local cache:'
    sh &apos;(docker images -q examplecorp/spring-petclinic; docker images -q localhost/examplecorp/spring-petclinic) | xargs docker rmi --no-prune=true --force || :&apos;
    docker.withRegistry(&apos;https://localhost/&apos;, &apos;docker-registry-login&apos;) {
        echo 'Missing initially, should pull and get latest tag:'
        docker.image(&apos;examplecorp/spring-petclinic&apos;).inside {
            sh &apos;ls -l /tomcat7/webapps/petclinic.war&apos;
        }
        echo 'This time it should be in local cache and not need to pull:'
        docker.image(&apos;examplecorp/spring-petclinic&apos;).inside {}
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>
